.paragraphe{
	display: hidden;
}
.wrapper{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	/*align-content: center;*/
}
nav{
	background-color:white;
	flex: 1 1 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}
.main{
	flex: 1 1 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	text-align: center;

	
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}
footer{
	background-color:#4285f4;
	flex: 1 1 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;
}

/*height*/
body{
	min-height: 100vh;
}
nav{
	min-height:15vh;
}
.main{
	min-height: 80vh;
	/* pour rendre le contenu scrollable plutôt 
	que de l'étendre

	max-height: 80vh;
	overflow-y: scroll;*/
}
footer{
	min-height: 5vh;

	
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

/*reset des h* et p*/
div, p, h1, h2, .main,.content,nav,footer, body{
	margin: 0 0;
}
body{
	font-family: "PT Sans", serif;
	font-size: 1em;
	color:#333333;
}
nav{
	text-transform: uppercase;
	font-size: 2em;
	font-family: "Arvo", sans-serif;
}
a:link{
	text-decoration: none;	
	color:#4285f4;
}
a:visited{
	color: #0d5bdd;
}
a:hover{
	color:#333333;
	text-decoration: underline black;
}
a:active{
	color:#333333;
	text-decoration: none;
};
.paragraphe{
	margin: 1vw 10vw;
	text-align: left;
}
.paragraphe p, .paragraphe blockquote{
	font-size: 3vh;
	text-align: left;
	padding: 0.3em 1em;
}
.paragraphe blockquote{
	color:black;
}
.block{
	padding-bottom: 1vh;
}
h1{
	font-size: 8vh;
	margin-bottom:3vh;
}
h2{
	font-size: 4vh;
}
blockquote{
	font-family: "Inconsolata", arial;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
	border-left: 0.5em solid #DDD;
}
strong{
	color: #3b77db;
}
#logo{
	height:auto;
	width:30vw;
}