.paragraphe{
	display: hidden;
}
.wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	/*align-content: center;*/
}
nav{
	background-color:white;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	-ms-flex-align: center;
	-webkit-box-align: center;

	align-items: center;
}
.main{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;

	
	-ms-flex-align: center;
	-webkit-box-align: center;

	align-items: center;
}
footer{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/*height*/
body{
	min-height: 100vh;
}
nav{
	min-height:10vh;
}
.main{
	min-height: 80vh;
	/* pour rendre le contenu scrollable plutôt 
	que de l'étendre

	max-height: 80vh;
	overflow-y: scroll;*/
}
footer{
	min-height: 10vh;

	
	-ms-flex-align: center;
	-webkit-box-align: center;

	align-items: center;
}

/*reset des h* et p*/
div, p, h1, h2, .main,.content,nav,footer, body{
	margin: 0 0;
}
/**/
body{
	font-family: "PT Sans", serif;
	font-size: 1em;
	color:#333333;
}
nav{
	text-transform: uppercase;
	font-size: 8vw;
	font-family: "Oswald", sans-serif;
	padding:0.2em;
}
a:link{
	text-decoration: none;	
	color:#4285f4;
}
a:visited{
	color: #0d5bdd;
}
a:hover{
	color:#333333;
	-webkit-text-decoration: underline black;
	        text-decoration: underline black;
}
a:active{
	color:#333333;
	text-decoration: none;
};
.paragraphe{
	margin: 1vw 5vw;
	text-align: left;
}
.paragraphe p, p, li{
	font-size: calc(0.75em + 1vmin);
	text-align: left;
	padding: 0.3em 0.1em;
	line-height: 1.5em;
}
blockquote > p{
	line-height:1.2em;
}
.block{
	margin-bottom: 7vh;
}
.h1{
	font-size: 8vh;
	border: 4px solid black;
	padding: 0.1em 0.4em;
}
h1{
	margin-bottom:4vh;
	margin-top:1vh;
}
h2{
	font-size: 4vh;
	text-align: left;
	margin-left:1vw;
}
blockquote{
	font-family: "Inconsolata", monospace;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
	border-left: 0.5em solid #DDD;
	color:black;
	font-size: calc(0.75em + 1vmin);
	padding:0.5em 0.5em;
}
strong{
	color: #3b77db;
}
#logo{
	height:auto;
	width:40vh;
	margin-top:0.5em;
}
.content{
	margin:0 auto;
	max-width:80vw;
}
nav a{
	text-decoration: none;
	color:#333 !important;
}
nav a:hover{
	text-decoration: underline dotted;
	color:black!important;
}
footer{
	font-size: calc(0.75em + 1vmin);
}
.ailleurs a{
	color:#333;
}