.paragraphe{
	margin: 4vmin 1vmin;
	line-height:1.6em;
	font-size: calc(0.9em + 1vmin);
	text-align:left;
	display: hidden;
}
em{
	font-weight: bold;
	font-style: normal;
}
.wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	/*align-content: center;*/
}
.nav{
	background-color:white;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	-ms-flex-align: center;
	-webkit-box-align: center;

	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.main{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;

	
	-ms-flex-align: center;
	-webkit-box-align: center;

	align-items: center;
}
footer{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/*height*/
/*body{
	min-height: 100vh;
}
nav{
	min-height:10vh;
}
.main{
	min-height: 80vh;
}
footer{
	min-height: 10vh;
}*/

/*reset des h* et p*/
div, p, h1, h2, .main,.content,nav,footer, body{
	margin: 0 0;
}
.main{
	margin-top:1em !important;
}

body{
	font-family: "Eczar", serif;
	font-size: 1em;
	color: black;
}

nav a{
	font-family: "Eczar", sans-serif;
	padding:0.2em;
	color:black!important;
	color: #00007F!important;
}
nav a h1{
	font-size: 10vmin;
	letter-spacing: -0.41vmin;
	font-weight: normal;
	margin: 2vmin 0;
}
nav a h2{
	font-size: 3.2vmin !important;
	font-weight: normal;
	-webkit-text-decoration: none !important;
	        text-decoration: none!important;
	font-style: italic;
}
nav a:hover{
	text-decoration: wavy !important;
	color:#00007F !important;
}
a:link{
	text-decoration: none;	
	color:blue;
}
a:visited{
	color:#4285f4;
}
a:hover{
	color:#4285f4;
}
a:active{
	color:#333333;
	text-decoration: none;
};
p, li{
	font-size: calc(0.75em + 1vmin);
	text-align: left !important;
	padding: 2vmin 1vmin;
	/*line-height: 1.65em;*/
}
.block{
	margin-bottom: 5vmin;
	text-align: left !important;
}
.about-block{
	margin-bottom:5vmin;
	font-size: calc(0.9em + 1vmin);
	text-align: left !important;
	line-height: 1.3em;
}
.about-block h3{
	color:#00007F;
	font-size: calc(0.9em + 2vmin);
	margin: 0 !important;
	line-height: 1.3em;
}
h2{
	font-size: calc(0.8em + 2vmin);
	border: 4px solid #00007F;
	padding: 0.1em 0em;
	margin: 0 0 1em 0;
	text-decoration: none;
	color:#00007F;
}
h1{
	margin-top:0.5em;
}
.h2{
	font-size: 4vh;
	text-align: left;
}
blockquote{
	font-family: "Space Mono", monospace;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
	border-left: 0.5em solid #DDD;
	color:black;
	font-size: calc(0.7em + 1vmin);
	padding:1vmin 1vmin;
	margin:1vmin 1vmin;
	cursor: pointer;
	text-align: left;
	color: black;
}
blockquote > h3{
	text-align: left;
	color:#00007F;
	margin-left:0.5em;
	font-size: calc(0.6em + 1.8vmin);
	text-shadow: 1px 0px black;
	margin: 0 0;
	margin-bottom: 1vmin;
	font-weight: normal;
}
blockquote > p{
	line-height:1.4em;
	font-size: calc(0.6em + 1vmin);
	color: #444 !important;
}
.content{
	margin:0 auto;
	max-width:80vw;
}
footer{
	font-size: calc(0.75em + 1vmin);
}
.ailleurs a{
	color:#00007F !important;
}
.modeemploi{
	display: flex;
	align-content: center;
	justify-content: center;
	padding-bottom:1vmin;
	margin: 0em 1em;
}
#modeemploi{
	color:#00007F;
	font-size: calc(0.6em + 1vmin);
	background-color: rgba(2,8,68,0.1);
	border: 3px solid #00007F;
	padding: 0.3em 1em;
	text-align: center;
}
.block h2{
	margin-left:0;
}
.paragraphe p {
	margin-bottom:1em
}